*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: orangered;
  display: grid;
  place-content: center;
  font-size: 2.5em;
  font-family: sans-serif;
  box-shadow: -2px 4px 16px rgba(0,0,0,0.3);
  color: white;
  height: 100vh;
  width: 100vw;
}

h1{
  text-transform: capitalize;
  text-align: center;
}